.App {
  /* text-align: center; */
  /* background-color: rgb(245, 240, 226); */
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

td{
 border: solid 1px black;
}
/* table{ */
  /* margin: 0 auto; */
  /* border: solid 10px rgb(209, 100, 122); */
/* } */

.sideBar
{
    margin-left: 20px;
    display: inline-block;
    width: 380px;
    vertical-align: top;
}

.principal
{
    display: inline-block;  
    vertical-align: top;  
    min-width: 630px;
}

.rightSideBar
{
    display: inline-block;  
    vertical-align: top;  
}